<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>StudentUpdateApp</display-name>
	
	<welcome-file-list>
		<welcome-file>studform.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>StudentServlet</servlet-name>
		<servlet-class>com.controller.StudentServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>StudentServlet</servlet-name>
		<url-pattern>/StudentServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>StudentDeleteServlet</servlet-name>
		<servlet-class>com.controller.StudentDeleteServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>StudentDeleteServlet</servlet-name>
		<url-pattern>/StudentDeleteServlet</url-pattern>
	</servlet-mapping>


<servlet>
	<servlet-name>ReadServlet</servlet-name>
	<servlet-class>com.controller.ReadServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>ReadServlet</servlet-name>
<url-pattern>/ReadServlet</url-pattern>

</servlet-mapping>

<servlet>
	<servlet-name>StudentUpdate</servlet-name>
	<servlet-class>com.controller.StudentUpdate</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>StudentUpdate</servlet-name>
<url-pattern>/StudentUpdate</url-pattern>
</servlet-mapping>


<servlet>
	<servlet-name>EditForm</servlet-name>
	<servlet-class>com.controller.EditForm</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>EditForm</servlet-name>
<url-pattern>/EditForm</url-pattern>
</servlet-mapping>
</web-app>